<section class="services-content">

  <div class="title-head">
    <figcaption class="title-head__caption">
      <div class="heading__text-reveal">
        <h1>Cost Analysis and Management </h1>
      </div>
    </figcaption>
  </div>
  <div class="container">
    <p>
        A1 Estimation Inc. provide Cost Analysis and Management services from the
      project budgeting phase through completion of construction documents. In addition to
      preparing cost estimates at each major design phase, we performs cost studies
      throughout the design process to assist the client in understanding the financial
      impact of design decisions.


    </p>

    <figure class="services-content__figure">
        <img src="assets/images/cost-analysis.jpg" alt="">
    </figure>
    <p>
        A1 Estimation Inc. ensures proper monitoring of the construction
      budget in a constantly changing environment. Our cost control services are
      conducted on site during the construction stage and include change order management,
      estimating, scheduling, field inspection, document controls, construction
      administration, and general project management assistance. We also compare
      scenarios and evaluate qualifications of new designs at the existing construction site.
    </p>
    <p>
      In order to verify and negotiate change order requests, our staff reviews all
      drawings and specs and use our proprietary database or call subcontractors to
      verify prices. We go out into the field to further analyze the change order.
      We make sure the request is accurately priced and not already included in the
      original scope, and that the original material gets credited if there is a change.
      We are committed to resolving any change-order issues quickly so the project remains
      within the budget and is completed on time. we assist our clients in preventing
      increased costs, delays and disruptions.


    </p>


  </div>
</section>