<section>
  <div class="title-head">
    <figcaption class="title-head__caption">
      <div class="heading__text-reveal">
        <h1>Frequently Asked Questions </h1>
      </div>
    </figcaption>
  </div>
  <div class="container">
    <div class="accordion" id="faq-accordion">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne">
              Why should i choose  A1 Estimation Inc?
          </h5>
        </div>
        <div id="collapseOne" class="collapse">
          <div class="card-body">
              A1 Estimation Inc have a reputation for accuracy and quick completion times.
            Our estimators are field experienced with a diverse background in residential, commercial,
            civil and industrial construction estimating, who will ensure your project is handled efficiently
            and professionally. We have offices nationwide, giving us excellent insight and information
            in services available.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo">
              How can you guarantee your accuracy?
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
          <div class="card-body">
            Our figures are based on many years of experience of all types of projects together with knowledge of daily
            trends in the industry. we will calculate your whole job through certified tools which makes us confident
            enough to claim money back guarantee on our services.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree">
              What are your charges?
          </h5>
        </div>
        <div id="collapseThree" class="collapse">
          <div class="card-body">
            Our service charges depend upon the Scope of work and size of the project so after review the plan we will send you  proposal including our services charges and turned on time. Normally we will charge $15-$20 per hour.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour">
              How do you work?
          </h5>
        </div>
        <div id="collapseFour" class="collapse">
          <div class="card-body">
            Our team uses software such as Bluebeam, PlanSwift,
            AutoCAD & Microsoft Excel, and is able to meet unique client requirements as necessary. Procedure begins
            with
            the soft form of drawings or blue prints of the project that we import in the software and figure out the
            calculations division wise.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive">
            What is the timeframe for an estimate?
          </h5>
        </div>
        <div id="collapseFive" class="collapse">
          <div class="card-body">
            This will depend on the size and complexity of the project, usually its about 24 to 36 hours. Once we have
            received all the documents needed you will be appointed your own estimator who will handle the project for
            you
            and ensure your estimate is returned to you within the time frame you discuss.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix">
              Can i send you multiple projects?
          </h5>
        </div>
        <div id="collapseSix" class="collapse">
          <div class="card-body">
            Yes you can send multiple projects  becasue we have team of twenty five plus estimater on floor and we can do maximum projects for your time limits. 
            We offer volume discounts and free quotes for all of our services. you can avail great saving plans (up to
            70%
            off) when you need several projects estimated. You may want to come on board as a valued client which will
            save your company money!
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven">
              What is the medium of payment?
          </h5>
        </div>
        <div id="collapseSeven" class="collapse">
          <div class="card-body">
            
            We usually take payments through <br>
1) PayPal  "it secure our clients" <br>
2) Bank OTC or Wire (Bank of America <br>
3) All debit & credit cards <br>
Whichever is easy for you.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight">
            What is the guarantee to confidentiality of my belongings?
          </h5>
        </div>
        <div id="collapseEight" class="collapse">
          <div class="card-body">
            We are in business for years, and we have a list of permanent customers who trust us and are still in
            business
            with our company. For your satisfaction, we will sign an NDA (Non-Disclosure Agreement) with you which will
            work as a legal document that we will be liable to keep your information confidential.
          </div>
        </div>
      </div>

      <div class="card">
          <div class="card-header">
            <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine">
                How to check A1 Estimation services accuracy?

            </h5>
          </div>
          <div id="collapseNine" class="collapse">
            <div class="card-body">
                We provide highlighted marked plans, so you can check accuracy of our estimates.
            </div>
          </div>
        </div>

    </div>
  </div>
</section>