@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

#faq-accordion {
  .card {
    border: 1px solid rgba($black-color, 0.1) !important;
    @include margin(0, 0, 30px, 0);
    box-shadow: 0 0 6px rgba($black-color, 0.1);

    @include breakpoint(sm) {
      @include margin(0, 0, 15px, 0);
    }

  }
  .card-header {
    background: none !important;
    border-bottom: 0;
    @include padding(35px, 35px, 35px, 35px);

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }

    h5 {
      font-size: 25px;
      color: $brand-second-color;
      padding-right: 30px;
      position: relative;
      cursor: pointer;

      @include breakpoint(sm) {
        font-size: 20px;
        padding-right: 35px;
      }
  

      &:before {
        font-family: FontAwesome;
        content: "\f068";
        position: absolute;
        right: 0;
        font-size: 18px;
        top: -10px;
        line-height: 36px;
        border-radius: 50%;
        height: 45px;
        line-height: 45px;
        width: 45px;
        text-align: center;
        border: 2px solid $brand-second-color;
        @include transition(all 0.5s ease);

        @include breakpoint(sm) {
          height: 30px;
          line-height: 28px;
          width: 30px;
          font-size: 13px;
          top:0;
        }

      }
      &.collapsed {
        &:before {
          content: "\f067";
        }
      }
      &:hover {
        text-decoration: none;
        color: $brand-color;
        &:before {
          background: $brand-second-color;
          color: $white-color;
        }
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  .card-body {
    font-size: 22px;   
    @include padding(0, 45px, 45px, 45px);
    line-height: 35px;

    @include breakpoint(sm) {
      @include padding(0, 20px, 20px, 20px);
    }

  }
}
