<section class="about-wrap">
    <div class="title-head">
        <figcaption class="title-head__caption">
            <div class="heading__text-reveal">
                <h1>about company </h1>
            </div>
        </figcaption>
    </div>
    <div class="container">
        <p>With over a decade of experience in the construction industry, we are well equipped to handle all projects.
            We are known for excellence in our performance, credibility in our methods and creativity in our project
            management. We build projects in the most efficient, reliable and cost effective way. Our certified
            professionals use latest software, databases and equipment to provide the most accurate services with
            fastest turnaround time at fees that are extremely competitive.

        </p>

        <figure class="about-wrap__figure">
            <img src="assets/images/quantity-takeoff.jpg" alt="">
            <div class="figure__caption wow fadeIn"> A1 Estimation Inc. can play a valuable role in bringing your vision
                to
                reality.

                <ul class="figure__list">
                    <li class="figure__list-item">We offer volume discount and free quote on our services</li>
                    <li class="figure__list-item">We are quick and accurate </li>
                    <li class="figure__list-item"> We provide monthly or yearly contracts as well </li>
                    <li class="figure__list-item"> We also provide highlighted plans with estimate so you can review
                        work accuracy</li>

                </ul>
            </div>

        </figure>

        <p>We work closely with our clients to define our role on each project. By combining our clients objectives with
            our consultants expertise we enable our clients to win more bids for the projects and increase their
            profits, saves time and cost, as they will not have to hire a full time estimator.

        </p>
        <p> A1 Estimation Inc. portfolio consists  of union/non-union residential, commercial, civil and industrial
            construction projects. Our commitment to deliver superior service is demonstrated by our long-term
            relationship with our institutional, architectural, engineering, public, private, and construction clients.

        </p>

        <div id="counter">
            <h2 class="heading__small">A1 Estimation in Numbers</h2>
            <div class="row">


                <div class="col-lg-4 counter-Txt">
                    <span class="counter-value" data-count="10">0</span>
                    <h5>Years of Working</h5>
                </div>

                <div class="col-lg-4 counter-Txt">
                    <span class="counter-value" data-count="2156">0</span>
                    <h5>Projects Done</h5>
                </div>

                <div class="col-lg-4 counter-Txt">
                    <span class="counter-value" data-count="156">0</span>
                    <h5>Happy Clients</h5>
                </div>


            </div>
        </div>
    </div>
</section>