@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.about-wrap {
  p {
    text-align: center;
    line-height:45px;
    @include margin(0, 0, 40px, 0);
  }
  &__figure {
    overflow: hidden;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include margin(50px, 100px, 50px, 100px);

    @include breakpoint(sm) {
      @include margin(50px, 0, 50px, 0);
      height: 200px;
    }
    img {
      width: 100%;
      position: relative;
    }
    &:before {
      background: rgba(0, 0, 0, 0.8);
      height: 100%;
      width: 100%;
      top: 0;
      position: absolute;
      content: "";
      z-index: 10;
    }
    .figure__caption {
      position: absolute;
      top: 0;
      color: $white-color;
      z-index: 11;
      left: 0;
      text-align: center;
      @include padding(0, 50px, 0, 50px);
      top: 50%;
      transform: translateY(-50%);

      @include breakpoint(sm) {
        font-size:22px;
      }
    }

    .figure__list {
      @include margin(30px, 0, 0, 0);
      @include breakpoint(sm) {       
        display: none;
      }
    }
    .figure__list-item {
      text-align: left;
      font-size: 22px;
      position: relative;
      padding-left: 25px;

      &:before{
        position: absolute;
        content: '';
        background: $white-color;
        width: 5px;
        height: 5px;
        left: 0;
        top: 16px;
      }
    }
  }

  #counter {
    .heading__small{
      @include margin(0, 0, 60px, 0); 
    }
    @include margin(100px, 0, 0, 0);
    @include breakpoint(sm) {
      @include margin(50px, 0, 0, 0);
    }

    .counter-Txt {
      text-align: center;

      @include breakpoint(sm) {
        @include margin(0, 0, 50px, 0);
      }

      .counter-value {
        color: $brand-color;
        font-size: 70px;
        @include margin(0, 0, 20px, 0);
        font-weight: 500;
      }
    }
  }
}
