<header>
  <nav class="navbar navbar-expand-lg navbar-light  fixed-top" id="mainNav">
    <a class="navbar-brand"  routerLink='home'></a>
    <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink='home' routerLinkActive='nav-active-link'>
            <span data-hover="Home">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='about' routerLinkActive='nav-active-link'>
            <span data-hover="about">about</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink='services' routerLinkActive='nav-active-link'>
            <span data-hover="Services">Services</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='faq' routerLinkActive='nav-active-link'>
            <span data-hover="FAQs">FAQs</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='contact' routerLinkActive='nav-active-link'>
            <span data-hover="contact">contact</span></a>
        </li>
        
       
       
      </ul>

    </div>
  </nav>
</header>