@import "../../../assets/scss/variables", "../../../assets/scss/mixins", "../../../assets/scss/layout",
  "../../../assets/scss/ui-elements";

header {
  nav {
    background: $brand-second-color;

    @include padding(20px, 60px, 20px, 60px);
    @include transition(all 0.5s ease);

    @include breakpoint(sm) {
      @include padding(10px, 20px, 10px, 20px);
    }

    .navbar-toggler {
      background: $white-color !important;
      border: 1px solid $white-color !important;
      color: $white-color;

      &:hover {
        background: $brand-second-color !important;
        border: 1px solid $brand-second-color !important;
      }
    }

    ul {
      &.navbar-nav {
        background: none;
        margin-left: auto !important;
        opacity: 0;
        animation: fadeInDown 0.8s ease forwards;
        animation-delay: 0.3s;
        padding: 10px;
        @include transition(all 0.5s ease);

        .nav-link {
          display: block;
          text-decoration: none;
          width: 100%;
          text-transform: uppercase;
          color: $white-color;
          overflow: hidden;
          padding: 0 10px;
          font-size: 20px;

          span {
            position: relative;
            display: inline-block;
            @include transition(transform 0.5s ease);
            &:before {
              position: absolute;
              top: 100%;
              color: $brand-color;
              content: attr(data-hover);
              @include transform(translate3d(0, 0, 0));
            }
          }
          &:hover {
            span {
              @include transform(translateY(-100%));
            }
          }
        }
        .nav-active-link {
          color: $brand-color;
        }
      }
    }

    .navbar-brand {
      height: 74px;
      width: 148px;
      display: block;
      @include transition(all 0.5s ease);
      background: url(../../../assets/images/logo.png);

      @include breakpoint(sm) {
        height: 57px;
        width: 110px;
        background-size: 100%;
      }
    }
  }

  #mainNav.header-compressed {
    background: $brand-color;
    @include padding(5px, 20px, 5px, 20px);

    @include breakpoint(sm) {
      @include padding(10px, 20px, 10px, 20px);
    }
    @include transition(all 0.5s ease);
    .nav-link {
      color: $white-color;
    }
    .nav-active-link {
      color: $white-color;
    }
    span {
      &:before {
        color: $brand-second-color;
      }
    }

    .navbar-brand {
      height: 57px;
      width: 110px;
      background-size: 100%;
    }
  }
}
