<section class="contact-wrap">
  <div class="title-head">
    <figcaption class="title-head__caption">
      <div class="heading__text-reveal">
        <h1>contact us </h1>
      </div>
    </figcaption>
  </div>
  <div class="container">
    <div class="contact-wrap__card">
      <div class="row">
        <div class="col-md-5">
          <figure class="contact-wrap__figure">
            <img src="assets/images/usa.jpg" alt="">
          </figure>
        </div>
        <div class="col-md-7">
          <figcaption class="contact-wrap__caption">
            <h2 class="contact-wrap__title">United State of America</h2>
            <p class="contact-wrap__detail">907 Six OAKS CIR Apt. # B
                Norcross GA 30093
            </p>
            <span class="contact-wrap__phone"><i class="fa fa-phone"></i> +1 (404) 551-2288 </span>
            <!-- <span class="contact-wrap__phone"><i class="fa fa-phone"></i>   +1 (202) 817-4969 </span> -->
          </figcaption>
        </div>
      </div>
    </div>



  </div>
  <div class="contact-wrap__info-link">
    <a class="sliding-underline-link" href="mailto:info@a1est.com">info@a1est.com</a>
  </div>
</section>