@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.contact-wrap {
  color: $brand-second-color;
  @include margin(0, 0, 0, 0);

  &__info-link {
    text-align: center;
    @include padding(50px, 0, 50px, 0);
    background: $black-color;

    .sliding-underline-link {
      display: inline-block;
      font-size: 50px;
      @include padding(0, 0, 10px, 0);
      color: $white-color;
      @include breakpoint(sm) {
        font-size: 25px;
      }
    }
  }
  &__card {
    @include margin(0, 0, 60px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }
  }
  &__figure {
    box-shadow: 0px 3px 10px rgba($black-color, 0.3);
    @include margin(0, 0, 0, 0);
    @include image-border;

    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }

    img {
      width: 100%;
    }
  }
  &__caption {
    @include margin(0, 0, 0, 30px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
      height: auto;
    }
  }
  &--usa-caption {
    text-align: right;
    @include margin(0, 20px, 0, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
      text-align: left;
    }
  }

  &__title {
    @include margin(0, 0, 10px, 0);
    font-size: 30px;
  }

  &__detail {
    @include margin(0, 0, 20px, 0);
    line-height: 40px;
  }
  &__phone {
    color: $brand-color;
  }
}
