<section class="services-content">

  <div class="title-head">
    <figcaption class="title-head__caption">
      <div class="heading__text-reveal">
        <h1>quantity Takeoffs </h1>
      </div>
    </figcaption>
  </div>
  
  <div class="container">
    <p>
        A1 Estimation Inc. specialize in Quantity Takeoffs for both
      labor and materials. We provide concrete takeoffs, masonry takeoffs,
      structural steel takeoffs, lumber takeoffs, drywall takeoffs, trim
      takeoffs, doors and windows, and flooring takeoffs. Our estimators can
      quantify all the materials and accessories from digital plans or blue prints.
      We calculate every material item required to build any size construction project.
      We list the items by location as well for the benefit of clients superintendents
      and sub-contractors because it helps them identify easily where every item goes.
    </p>

    <figure class="services-content__figure">
        <img src="assets/images/quantity-takeoff.jpg" alt="">
    </figure>

    <div class="construction-trade">
      <h2 class="construction-trade__title">Provide takeoffs for the following construction trades:</h2>
      <ul class="construction-trade__list">
        <li class="construction-trade__list-item">
          Concrete
        </li>
        <li class="construction-trade__list-item">
          Masonry
        </li>
        <li class="construction-trade__list-item">
          Precast
        </li>
        <li class="construction-trade__list-item">
          Lumber
        </li>
        <li class="construction-trade__list-item">
          Drywall
        </li>
        <li class="construction-trade__list-item">
          Insulation
        </li>
        <li class="construction-trade__list-item">
          Roofing
        </li>
        <li class="construction-trade__list-item">
          Millwork
        </li>
        <li class="construction-trade__list-item">
          Cabinet
        </li>
        <li class="construction-trade__list-item">
          Flooring
        </li>
        <li class="construction-trade__list-item">
          Stucco
        </li>
        <li class="construction-trade__list-item">
          Tile
        </li>
        <li class="construction-trade__list-item">
          M.E.P
        </li>
        <li class="construction-trade__list-item">
          Painting
        </li>
        <li class="construction-trade__list-item">
          Finishes
        </li>
        <li class="construction-trade__list-item">
          Carpentry
        </li>
        <li class="construction-trade__list-item">
          Demolition
        </li>
        <li class="construction-trade__list-item">
          Façade Works
        </li>
        <li class="construction-trade__list-item">
          Metal Framing
        </li>
        <li class="construction-trade__list-item">
          Wall Covering
        </li>
        <li class="construction-trade__list-item">
          Reinforcing Steel
        </li>
        <li class="construction-trade__list-item">
          Doors & Window
        </li>

      </ul>
    </div>


    <p>
        A1 Estimation Inc. specialize in Quantity Takeoffs for both labor
      and materials. We provide concrete takeoffs, masonry takeoffs, structural steel
      takeoffs, lumber takeoffs, drywall takeoffs, trim takeoffs, doors and windows,
      and flooring takeoffs. Our estimators can quantify all the materials and accessories
      from digital plans or blue prints. We calculate every material item required to build
      any size construction project. We list the items by location as well for the benefit
      of clients superintendents and sub-contractors because it helps them identify easily
      where every item goes.
    </p>
  </div>
</section>