<footer class="footer">
    <span class="footer__number"> +1 (404) 551-2288
      </span>
  <span class="footer__logo">A1 Estimation Inc </span>
  
  <p class="footer__text">Copyright © 2010 - 2019 a1est.com</p>
</footer>