@import "../../../assets/scss/variables", "../../../assets/scss/mixins", "../../../assets/scss/layout",
  "../../../assets/scss/ui-elements";

.footer {
  background: $brand-second-color;
  @include padding(0, 0, 0, 0);
  position: fixed;
  bottom: 0;
  height: 300px;
  width: 100%;
  text-align: center;
  color: $white-color;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__logo{
    font-size: 22px;
    display: block;
    @include margin(0, 0, 0, 0);
  }
  &__number{
    @include margin(0, 0, 50px, 0);
    font-weight: 500;
    font-size: 35px;
  }
  &__text{
    font-size: 18px;
  }
}
