@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.services-wrap {
  color: $brand-second-color;
  &__card {
    @include margin(0, 0, 100px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 70px, 0);
    }
  }
  &__figure {
    box-shadow: 0px 3px 10px rgba($black-color, 0.3);
    @include margin(0, 0, 0, 0);
    @include image-border;

    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }

    img {
      width: 100%;
    }

    &:hover {
      &:before {
        right: 0;
        top: 0;
      }
    }
  }

  &__caption {
    @include margin(0, 0, 0, 50px);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
  }
  &__title {
    @include margin(0, 0, 20px, 0);
  }

  &__detail {
    @include margin(0, 0, 30px, 0);
    line-height: 40px;
  }
}

