<section class="services-wrap">

  <div class="title-head">
    <figcaption class="title-head__caption">
      <div class="heading__text-reveal">
        <h1>Our Major Services </h1>
      </div>
    </figcaption>
  </div>

  <div class="container">
    <div class="services-wrap__card">
      <div class="row">
        <div class="col-md-6">
          <figure class="services-wrap__figure">
            <a routerLink='/services/cost-estimating'>
              <img src="assets/images/cost-estimation.jpg" alt=""></a>
          </figure>
        </div>
        <div class="col-md-6">
          <figcaption class="services-wrap__caption">
            <h2 class="services-wrap__title">COST ESTIMATING</h2>
            <p class="services-wrap__detail">A detailed construction cost estimation is necessary for
              predicting the cost of any facility or structure under construction. It is an important part
              of the overall cost management for the builder, as well as necessary for budget adherence.
            </p>

            <a routerLink='/services/cost-estimating' class="button__cta">
              <div class="anchor__inner">
                <span class="ui-line"></span>
                <span class="button-text">Read More</span>
              </div>
            </a>

          </figcaption>
        </div>

      </div>
    </div>


    <div class="services-wrap__card">
      <div class="row d-flex flex-row-reverse">
        <div class="col-md-6">
          <figure class="services-wrap__figure">
            <a routerLink='/services/quantity-takeoffs'>
              <img src="assets/images/quantity-takeoff.jpg" alt=""></a>
          </figure>
        </div>
        <div class="col-md-6">
          <figcaption class="services-wrap__caption">
            <h2 class="services-wrap__title">QUANTITY TAKEOFFS</h2>
            <p class="services-wrap__detail"> A1 Estimation Inc. specialize in Quantity Takeoffs
              for both labor and materials. We provide concrete takeoffs, masonry takeoffs, structural steel
              takeoffs, lumber takeoffs, drywall takeoffs, trim takeoffs, doors and windows, and flooring
              takeoffs.
            </p>
            <a routerLink='/services/quantity-takeoffs' class="button__cta">
              <div class="anchor__inner">
                <span class="ui-line"></span>
                <span class="button-text">Read More</span>
              </div>
            </a>
          </figcaption>
        </div>

      </div>
    </div>

    <div class="services-wrap__card">
      <div class="row">
        <div class="col-md-6">
          <figure class="services-wrap__figure">
            <a routerLink='/services/cost-analysis-and-management'>
              <img src="assets/images/cost-analysis.jpg" alt=""></a>
          </figure>
        </div>
        <div class="col-md-6">
          <figcaption class="services-wrap__caption">
            <h2 class="services-wrap__title">COST ANALYSIS AND MANAGEMENT</h2>
            <p class="services-wrap__detail"> A1 Estimation Inc. provide Cost Analysis and
              Management services from the project budgeting phase through completion of construction
              documents. In addition to preparing cost estimates at each major design phase.
            </p>
            <a routerLink='/services/cost-analysis-and-management' class="button__cta">
              <div class="anchor__inner">
                <span class="ui-line"></span>
                <span class="button-text">Read More</span>
              </div>
            </a>

          </figcaption>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="specialize-trades">
  <h2 class="specialize-trades__title">we SPECIALIZE in all construction TRADES</h2>

  <owl-carousel [options]="{items: 2, dots: true, navigation: false, stagePadding: 0 ,responsive:{
      '0':{items: 1, margin: 30, stagePadding:50},
      '1000': { items: 3, stagePadding: 50, margin: 30, autoplay:true},
      '1645': { items: 5, margin: 30, stagePadding: 50, dots: true }
    }}" [carouselClasses]="['owl-theme', 'sliding']">

    <div class="item">
      Concrete
    </div>

    <div class="item">
      Masonry

    </div>
    <div class="item">
      Metals

    </div>
    <div class="item">
      Wood, Plastics, and Composites

    </div>
    <div class="item">
      Thermal and Moisture Protection

    </div>
    <div class="item">
      Openings
    </div>
    <div class="item">
      Doors, windows and Hardware
    </div>
    <div class="item">
      Finishes
    </div>
    <div class="item">
      Flooring
    </div>
    <div class="item">
      Painting
    </div>
    <div class="item">
      Drywall
    </div>
    <div class="item">
      Carpentry/Rough Carpentry
    </div>
    <div class="item">Specialties</div>
    <div class="item">Furnishings</div>
    <div class="item">Special Construction</div>
    <div class="item">Conveying Equipment</div>
    <div class="item">Electrical</div>
    <div class="item">Mechanical </div>
    <div class="item">Plumbing </div>
    <div class="item">HVAC</div>


  </owl-carousel>
</section>