@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/animate.css/animate.css";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "assets/scss/reset", /* 'assets/scss/typography', */ "assets/scss/variables", "assets/scss/mixins",
  "assets/scss/layout", "assets/scss/ui-elements";

body {
  font-family: $font-primary-en;
  background: #fff;
  /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));*/
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

@include breakpoint(sm) {
  body {
    font-size: calc(1.5625rem + ((1vw - 4.8px) * 0.3472));
  }
}
@media (min-width: 480px) {
  body {
    font-size: 30px;
  }
}

.container {
  @include breakpoint(sm) {
    padding: 0 30px;
  }
}

.wow {
  visibility: hidden;
}

main {
  @include margin(0, 0, 0, 0);
  background: $white-color;
  margin-bottom: 300px;
  position: relative;
  z-index: 999;
  height: 100%;
}
section {
  @include margin(0, 0, 100px, 0);

  @include breakpoint(sm) {
    @include margin(0, 0, 60px, 0);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.owl-dots {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.5s;
  /*  .owl-dot {
    span {
      background: none !important;
      width: 14px !important;
      height: 14px !important;
      border: 2px solid $white-color !important;
    }
  } */
  .owl-dot.active {
    span {
      background: $white-color !important;
      border: 2px solid $brand-color !important;
      width: 14px !important;
      height: 14px !important;
      position: relative;
      top: 2px;
    }
  }
}

.owl-nav{
  
  button{
    background: $brand-second-color !important;
    color: $white-color !important;   
    border-radius: 0 !important;

    &.owl-next{
      width: 30px;
      right: 5px;
      position: absolute;
      z-index: 11;
      top: 40%;
    }
    &.owl-prev{
      width: 30px;
      left: 7px;
      position: absolute;
      z-index: 11;
      top: 40%;

    }
  }
}

.slider {
  @include margin(100px, 0, 50px, 0);
  position: relative;
  width: 100%;
  overflow: hidden;

  @include breakpoint(sm) {
    @include margin(77px, 0, 50px, 0);
    .owl-nav{
      display: none;
    }
  }

  &__caption {
    height: 450px;
    width: 50%;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    @include padding(0, 0, 0, 0);

    @include breakpoint(sm) {
      width: 80%;
      height: 180px;
      left: 30px;
      @include padding(0, 0, 0, 0);
      @include margin(0, 0, 0, 0);

    }
  }
  &__title {
    @include margin(0, 0, 10px, 0);
    font-size: 40px;

    @include breakpoint(sm) {
      font-size: 25px;
      @include margin(0, 0, 5px, 0);
    }
  }
  &__sub-title {
    @include margin(0, 0, 40px, 0);
    font-size: 25px;
    line-height: 35px;

    @include breakpoint(sm) {
      font-size: 16px;
      line-height: 22px;
      @include margin(0, 0, 10px, 0);
    }
  }

  &__carousel {
    position: relative;
  }
  &__logo {
    position: absolute;
    right: -20px;
    bottom: 70px;
    z-index: 11;
    img{
      width:70%;
    }
    @include breakpoint(sm) {
      display: none;
    }
  }
  &__img {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;

    @include breakpoint(sm) {
      height: 190px;
    }

    &::before{
      width: 100%;
      height: 100%;
      background: rgba($black-color, 0.7);
      content: '';
      position: absolute;
      left: 0;
      top: 0;

    }
  
    img {
      width: 100%;
    }
  }
}
.owl-item.active .slider-holder__title {
  animation: 1s 0.2s fadeInUp both;
  margin-bottom: 20px;
}
.owl-item.active .slider-holder__sub-title {
  animation: 1s 0.6s fadeInUp both;
  margin-bottom: 20px;
}
.owl-item.active .button__cta {
  animation: 1s 0.9s fadeInUp both;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    line-height: 45px;
    @include margin(0, 0, 30px, 0);
  }

  &__figure {
    overflow: hidden;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include margin(50px, 100px, 50px, 100px);

    @include breakpoint(sm) {
      @include margin(50px, 0, 50px, 0);
      height: 200px;
    }
    img {
      width: 100%;
      position: relative;
    }
    &:before {
      background: rgba(0, 0, 0, 0.8);
      height: 100%;
      width: 100%;
      top: 0;
      position: absolute;
      content: "";
      z-index: 10;
    }
    .figure__caption {
      position: absolute;
      top: 0;
      color: $white-color;
      z-index: 11;
      left: 0;
      text-align: center;
      @include padding(0, 50px, 0, 50px);
      top: 50%;
      transform: translateY(-50%);
      @include breakpoint(sm) {
        font-size: 22px;
      }
    }
    .figure__list {
      @include margin(30px, 0, 0, 0);
      @include breakpoint(sm) {
        display: none;
      }
    }
    .figure__list-item {
      text-align: left;
      font-size: 22px;
      position: relative;
      padding-left: 25px;

      &:before {
        position: absolute;
        content: "";
        background: $white-color;
        width: 5px;
        height: 5px;
        left: 0;
        top: 16px;
      }
    }
  }
}

.testimonial {
  .testimonial-holder {
    background: $white-color;
    text-align: center;
    box-shadow: 0px 3px 30px rgba($black-color, 0.1);
    @include margin(50px, 100px, 40px, 100px);
    @include padding(50px, 50px, 50px, 50px);
    @include image-border;

    @include breakpoint(sm) {
      @include margin(50px, 30px, 50px, 30px);
      @include padding(20px, 20px, 20px, 20px);
    }

    &__testi {
      line-height: 40px;
      font-size: 25px;
      @include margin(0, 0, 20px, 0);
    }
    &__name {
      font-size: 25px;
      display: block;
      color: $brand-second-color;
      @include margin(0, 0, 0, 0);
    }
    &__designation {
      font-size: 18px;
      display: block;
      color: $brand-color;
    }
  }
}

.get-started {
  background: #ef233c;
  color: $white-color;
  @include margin(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  @include padding(50px, 0, 50px, 0);

  p {
    text-align: center;
    @include margin(0, 0, 50px, 0);
    font-size: 35px;
  }
  .sweep-btn--left {
    margin: 0 auto;
    width: 25%;

    @include breakpoint(sm) {
      width: 100%;
    }
  }
}

.services-content {
  p {
    @include margin(0, 0, 30px, 0);
    line-height: 45px;
  }
  &__head {
    position: relative;
    @include margin(68px, 0, 50px, 0);
  }

  &__figure {
    box-shadow: 0px 3px 10px rgba($black-color, 0.3);
    @include margin(50px, 100px, 50px, 100px);
    @include image-border;

    @include breakpoint(sm) {
      @include margin(50px, 0, 50px, 0);
    }
    img {
      width: 100%;
    }
  }

  .services-content__head .heading__text-reveal {
    @include margin(0, 0, 0, 0);
    margin: auto;
    h1 {
      color: $white-color;
      &:before {
        background: $white-color;
      }
    }
  }

  .construction-trade {
    background: $white-color;
    box-shadow: 0px 3px 30px rgba($black-color, 0.1);
    @include margin(80px, 50px, 80px, 50px);
    @include padding(50px, 50px, 50px, 50px);
    @include image-border;

    @include breakpoint(sm) {
      @include margin(40px, 0, 50px, 0);
      @include padding(20px, 20px, 20px, 20px);
    }

    &__title {
      @include margin(0, 0, 30px, 0);
      text-align: center;
    }
    &__list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__list-item {
      font-size: 25px;
      text-align: center;
      width: 33%;
      height: 100px;
      line-height: 100px;
      border-bottom: 1px solid #edf2f4;
      border-right: 1px solid #edf2f4;

      @include breakpoint(sm) {
        width: 100%;
        height: auto;
        @include padding(20px, 0, 20px, 0);
        line-height: 30px;
        border-right: 0;
      }

      &:nth-of-type(3n + 3) {
        border-right: 0;
      }

      &:last-child {
        border-bottom: 0;
        border-left: 1px solid #edf2f4;
        @include breakpoint(sm) {
          border-left: 0;
        }
      }
    }
  }

  .cost-estimate-trade {
    .construction-trade__list-item {
      width: 50%;
      border-right: 1px solid #edf2f4;

      @include breakpoint(sm) {
        width: 100%;
      }

      &:nth-of-type(2n + 2) {
        border-right: 0;

        @include breakpoint(sm) {
          border-right: 0;
        }
      }
      &:nth-of-type(5n) {
        border-bottom: 0;
        @include breakpoint(sm) {
          border-bottom: 1px solid #edf2f4;
        }
      }
      &:nth-of-type(6n) {
        border-bottom: 0;
      }
    }
  }
}

.title-head {
  position: relative;
  background: $brand-second-color;
  height: 230px;
  @include margin(0, 0, 180px, 0);

  @include breakpoint(sm) {
    @include margin(0, 0, 150px, 0);
  }

  &__caption {
    display: flex;
    justify-content: center;
    height: 360px;
    align-items: center;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 200px;
    height: 398px;
    background: url(assets/images/shape14@2x.png) left bottom;

    @include breakpoint(sm) {
      background: url(assets/images/shape14@2x.png) 40% bottom;
    }
  }
}


.specialize-trades {
  @include margin(0, 0, 0, 0);
  background: $brand-color;
  padding: 60px 0;

  &__title {
    text-align: center;
    color: $white-color;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  .item {
    background: $white-color;
    padding: 35px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    border-radius: 4px;
    @include margin(0, 0, 50px, 0);
    box-shadow: 0px 2px 5px rgba($black-color, 0.3);
  }
}

.specialize-trades-home{
  margin-bottom: 100px !important;
  background: $brand-third-color;

  .specialize-trades__title {
    color: $brand-color;
  }

  .item {
    box-shadow: 0px 2px 15px rgba($black-color, 0.1);
  }
}
