<section class="slider">
  <figcaption class="slider__caption">
    <h1 class="slider__title">
      A1 Estimation Inc.
    </h1>
    <p class="slider__sub-title">
     Get you bids, takeoff and estimate ready with
      fastest, accurate & economical
    </p>

    <a routerLink='/contact' class="button__cta">
      <div class="anchor__inner">
        <span class="ui-line"></span>
        <span class="button-text">Click to Begin</span>
      </div>
    </a>
  </figcaption>

 

  <div class="slider__carousel">
    <figure class="slider__logo">
      <img src="assets/images/logo.png" alt="">
    </figure>

    <owl-carousel [options]="{items: 1, dots: true, nav: true, stagePadding: 0, responsive:{
    '0':{items: 1, margin: 0, stagePadding:0},
    '1000': { items: 1, stagePadding: 0, margin: 0, navigation: true, dots: true, rtl: false, autoplay:true},
    '1645': { items: 1, margin: 0, stagePadding: 0, nav: true, dots: true }
  }}" [carouselClasses]="['owl-theme', 'sliding']">

      <div class="item">
        <figure class="slider__img">
          <img src="assets/images/slider-01.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="slider__img">
          <img src="assets/images/slider-02.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="slider__img">
          <img src="assets/images/slider-03.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="slider__img">
          <img src="assets/images/slider-04.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="slider__img">
          <img src="assets/images/slider-05.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="slider__img">
          <img src="assets/images/slider-06.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="slider__img">
          <img src="assets/images/slider-07.jpg" alt="">
        </figure>
      </div>
      <div class="item">
        <figure class="slider__img">
          <img src="assets/images/slider-08.jpg" alt="">
        </figure>
      </div>



    </owl-carousel>
  </div>
</section>

<div class="container">
  <section class="welcome">
    <p>
      A1 Estimation provides Construction Cost Estimating , Quantity Takeoffs and Cost Analysis &
      Management services for Owners, General Contractors, Sub Contractors, Architects, Home Builders, Engineers,
      Developers, Designers, Material Suppliers, Cost Segregation firms and Real estate industry.</p>

    <figure class="welcome__figure">
      <img src="assets/images/quantity-takeoff.jpg" alt="">
      <div class="figure__caption wow fadeIn"> A1 Estimation Inc. can play a valuable role in bringing your vision to
        reality.

        <ul class="figure__list">
          <li class="figure__list-item">We offer volume discount and free quote on our services</li>
          <li class="figure__list-item">We are quick and accurate </li>
          <li class="figure__list-item"> We provide monthly or yearly contracts as well </li>
          <li class="figure__list-item"> We also provide highlighted plans with estimate so you can review work accuracy
          </li>

        </ul>

      </div>


    </figure>

    <a routerLink='/about' class="button__cta">
      <div class="anchor__inner">
        <span class="ui-line"></span>
        <span class="button-text"> More About Us</span>
      </div>
    </a>
  </section>

</div>
<section class="specialize-trades specialize-trades-home">
  <h2 class="specialize-trades__title">we SPECIALIZE in all construction TRADES</h2>
  <owl-carousel [options]="{items: 2, dots: true, navigation: false, stagePadding: 0 ,responsive:{
          '0':{items: 1, margin: 30, stagePadding:50},
          '1000': { items: 3, stagePadding: 50, margin: 30, autoplay:true},
          '1645': { items: 5, margin: 30, stagePadding: 50, dots: true }
        }}" [carouselClasses]="['owl-theme', 'sliding']">

    <div class="item">
      Concrete
    </div>
    <div class="item">
      Masonry
    </div>
    <div class="item">
      Metals
    </div>
    <div class="item">
      Wood, Plastics, and Composites
    </div>
    <div class="item">
      Thermal and Moisture Protection
    </div>
    <div class="item">
      Openings
    </div>
    <div class="item">
      Doors, windows and Hardware
    </div>
    <div class="item">
      Finishes
    </div>
    <div class="item">
      Flooring
    </div>
    <div class="item">
      Painting
    </div>
    <div class="item">
      Drywall
    </div>
    <div class="item">
      Carpentry/Rough Carpentry
    </div>
    <div class="item">Specialties</div>
    <div class="item">Furnishings</div>
    <div class="item">Special Construction</div>
    <div class="item">Conveying Equipment</div>
    <div class="item">Electrical</div>
    <div class="item">Mechanical </div>
    <div class="item">Plumbing </div>
    <div class="item">HVAC</div>
  </owl-carousel>
</section>
<div class="container">
  <section class="testimonial">
    <h2 class="heading__small">What Our Client Says</h2>
    <owl-carousel [options]="{items: 1, dots: true, navigation: false, stagePadding: 0,  rtl: false ,responsive:{
        '0':{items: 1, margin: 0, stagePadding:0},
        '1000': { items: 1, stagePadding: 0, margin: 0, dots: true},
        '1645': { items: 1, margin: 0, stagePadding: 0, dots: true }
      }}" [carouselClasses]="['owl-theme', 'sliding']">

      <div class="item">
        <div class="testimonial-holder">
          <p class="testimonial-holder__testi">
            Team are excellent to work with as always. They would go a step further on suggestions and
            recommendations that best fit your needs. Amazing communication, quality work, and exceeding expectations!
          </p>
          <span class="testimonial-holder__name">Joseph William</span>
          <span class="testimonial-holder__designation">Co Founder</span>

        </div>
      </div>
      <div class="item">
        <div class="testimonial-holder">
          <p class="testimonial-holder__testi">
            Fantastic work! I am just impressed by their service quality and working strategy. They have a great
            expertise, are dedicated, attentive, talented and care much about the client needs. Highly recommended.


          </p>
          <span class="testimonial-holder__name">Reece Michael</span>
          <span class="testimonial-holder__designation">Managing Director</span>
        </div>
      </div>

    </owl-carousel>
  </section>

</div>

<section class="get-started">
  <div class="container">
    <p>
      The ultimate source to get your construction bids ready within 48 hours.
    </p>
    <a routerLink='/contact' class="sweep-btn--left">Get Started</a>
  </div>
</section>